<h1>Upload via AJAX with Dropzone</h1>
<form action="/ajax-image-upload" id="dropzone-form" class="dropzone"></form>
<div id="done"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/dropzone-me.js"></script>
<p><a href="/gallery">View uploaded images</a></p>
<p><a href="/">Back home</a></p>
